mixin footer
    footer#footer.footer.fixed-bottom
        .jumbotron
            .container
                .row
                    p#text-copyright Copyright &copy; 2021 T0xicTyler
                        p
                            a(href='https://github.com/T0xicTyler/t0xictyler.github.io', target='_blank') Source code