extends layout

block content
    #content.container.py-5
        #header-and-links.row
            .col-sm-12.col-lg-8.mb-5
                h1.display-1
                    span T0xicTyler
                    br
                    sub.text-muted.d-block Computer programmer
            .col-sm-12.col-lg-2.mt-4
                a.btn.mb-1(href='https://github.com/t0xictyler', target='_blank')
                    i.bi-github
                    span &nbsp;GitHub
                br
                a.btn.mb-1(href='https://www.linkedin.com/in/tyler-grissom/', target='_blank')
                    i.bi-linkedin
                    span &nbsp;LinkedIn
                br
                a.btn(href='https://linktr.ee/t0xictyler', target='_blank')
                    i.bi-link
                    span &nbsp;LinkTree
            .col-sm-12.col-lg-2.mt-4
                button#btn-dark.btn.btn-sm.btn-dark.mb-1
                    i.bi-moon
                    span &nbsp;Mode: Dark
                button#btn-light.btn.btn-sm.btn-light.mb-1
                    i.bi-sun
                    span &nbsp;Mode: Light
        hr
        #intro-and-project.row
            .col-sm-12.col-lg-8
                h1.display-4 About Me
                p.lead Hi! My name is Tyler and I am a nineteen year old computer programmer from the United States.
                p.lead.
                    My background primarily comes from Minecraft developing Spigot plugins with the Java
                    programming language. From there I&apos;ve learned an assortment of skills in the computer science field.
                p.lead.
                    Creating Minecraft plugins gave me an entry point into the field of Java programming from which I learned
                    various skills.
                ul.lead
                    li Utilizing the Java programming language to create OOP software for Spigot servers
                    li Utilizing Git as an SCM to effectively manage source code
                    li Utilizing Maven and Gradle as build systems to manage dependencies and create JARs
                    li Utilizing SQL databases to enable cloud data persistence
                    li Utilizing a combination of technologies including HTML, CSS, JavaScript, and PHP to design and develop websites
            .col-sm-12.col-lg-4
                .row
                    h1.display-4 PotterPlus
                        p.lead.
                            My current project is
                            #[a(href='https://github.com/PotterPlus/PotterPlus', target='_blank') PotterPlus]
                            , a configuration for NathanWolf&apos;s Magic plugin. It adds:
                        ul.lead
                            li Over 125 spells
                            li Tons of new magical items
                            li A bunch of mobs
                        p.lead You can join the PotterPlus server on Minecraft 1.16.5 with the following IP address:
                        .row.col-12
                            #mc-ip.bg-black(data-clipboard-target='#mc-ip-text')
                                .p-4.font-space-mono(style="font-size:14px;")
                                    span#mc-ip-text=server_ip
                                    span#mc-ip-dash &nbsp;&gt;&nbsp;
                                    span#mc-ip-copy-text Click to copy
        hr

block scripts
    script(src='/scripts/clipboard.min.js')
    script(src='/scripts/index.js')
