include footer

doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    +footer
    scripts
      script(src='/scripts/jquery.js')
      script(src='/scripts/bootstrap.bundle.min.js')
      script(src='/scripts/clipboard.min.js')
      block scripts
