$bg-dark-mode: #222222
$twitch-purple: #6441a5
$accent-color: lighten($twitch-purple, 10%)

@import url(https://fonts.googleapis.com/css2?family=Space+Mono&display=swap)

.font-space-mono
  font-family: 'Space Mono', monospace

body
  background-color: black
  color: white

.footer
  background-color: $bg-dark-mode

a
  color: $accent-color
  text-decoration: none

a:hover
  color: white
  text-decoration: underline

.accent-text
  color: $accent-color

.btn-link
  color: $accent-color
  text-decoration: none

.btn.btn-dark.btn-black
    background-color: black
    color: white

.bg-black
  background-color: black
  color: white

.bg-dark
  background-color: $bg-dark-mode
  color: white

.footer
  padding-top: 50px
  padding-bottom: 25px
  background-color: black
  color: white